<style>
    .title-err {
        font-size: 2.28571429rem;
        border: none;
        margin: 2rem 0em 1rem;
        padding: 0em 0em;
        font-family: 'Proxima Nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 1.28571429em;
        text-transform: none;
        color: rgba(0, 0, 0, 0.87);
        display: block;
    }

    .logo-err {
        color: rgb(255, 255, 255);
        margin-top: 50px;
    }
</style>
<img class="logo-err" height="60px" src="/logo.png" alt="logo" />
<h1 class="title-err">Zebra Fuel Portal</h1>
<h6>Your browser is out of date!</h6>
<p>Update your browser to view this website correctly.
    <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Update my browser now </a>
</p>